* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
}

.logo {
  text-align: center;
  font-size: 10rem;
  margin: 1rem 0;
  cursor: pointer;
}

.navbar {
  width: 100%;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu a {
  color: #000;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
}

.nav__menu a:hover {
  border-bottom: 2px solid #000;
  -webkit-transition: .2s;
  transition: .2s;
}

.nav__menu a.active {
  border-bottom: 2px solid #000;
}

.contract__me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem auto 3rem auto;
}

.contract__me i {
  font-size: 2.4rem;
  margin: 0 2rem;
  color: #000;
}

.contract__me i:hover {
  opacity: .5;
}

#container {
  width: 100%;
}

#container .container--content {
  display: none;
}

#container .container--content img {
  width: 100%;
}

#container .about {
  display: none;
}

#container .about img {
  width: 100%;
}

#container .about .about__me {
  width: 65%;
  margin: 0 auto;
}

#container .about .about__me h1 {
  font-size: 5.4rem;
  margin: 6rem 0;
}

#container .about .about__me p {
  font-size: 1.8rem;
}

#container .about .about__me .information {
  font-size: 1.6rem;
  margin: 10rem 0 6rem 0;
}

#container .about .about__me .information p {
  font-weight: bold;
}

#container .about .about__me .information p a {
  color: #000;
  font-size: 1.8rem;
  font-weight: normal;
}

#container .about .about__me .contract {
  width: 100%;
  font-size: 2.4rem;
}

#container .about .about__me .contract p {
  margin-top: 2rem;
}

#container .about .about__me .contract .input {
  width: 100%;
  height: 5rem;
  border: none;
  background-color: #f0f0f0;
  padding: 0 2rem;
  margin: 0.5rem 0;
}

#container .about .about__me .contract .message {
  height: 10rem;
  resize: none;
}

#container .about .about__me .contract button {
  border: 0;
  padding: 1.6rem 6rem;
  margin: 2rem 0;
  background: #353F48;
  color: #fff;
}

#container .about .about__me .contract button:hover {
  background: #252d33;
  cursor: pointer;
}

#container .active {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  width: 95%;
  margin: auto;
}

#container .active:nth-child(3) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 95%;
  margin: auto;
}

@media screen and (max-width: 480px) {
  #container .active {
    display: block;
  }
  #container .active:nth-child(3) {
    display: block;
  }
  #container .about .about__me {
    width: 95%;
  }
}

#footer {
  font-size: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem auto;
  width: 80%;
}

#footer a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #000;
}
/*# sourceMappingURL=style.css.map */